@font-face {
    src: url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
    font-family: Heebo;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

div.container{
    width: 1152px;
    margin: 0 auto;
    height: 100%;
}

header{
    height: 80px;

    font-family: Heebo, sans-serif;
    font-weight: 400;
}

header div.container{
    display: flex;
    justify-content: right; /*x ось*/
    align-items: center; /*ось y*/
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200px;
}

header a{
    color: black;
}

div.personal-info div.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 60px;
    align-items: center;
}

div.personal-info div.info{
    width: 600px;
    font-family: Heebo, sans-serif;
}

div.personal-info div.info h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 40px;
}

div.personal-info div.info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

div.personal-info div.info button{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    background-color: rgba(255, 100, 100, 1);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

div.personal-info div.info button:hover{
    transform: scale(1.05);
}

div.personal-info div.personal-image{
    width: 200px;
    border-radius: 50%;
}

div.recent-posts{
    background-color: rgba(237, 247, 250, 1);
    padding-top: 20px;
}

div.recent-posts div.info{
    display: flex;
    justify-content: space-between;
    font-family: Heebo, sans-serif;
    font-weight: 400;
}

div.recent-posts div.posts{
    display: flex;
    justify-content: space-between;
    font-family: Heebo, sans-serif;
}

div.recent-posts div.post{
    background: white;
    padding: 10px;
    width: 46%;
    margin: 20px 0;
}

div.recent-posts div.post h3{
    font-size: 26px;
    font-weight: 700;
}

div.recent-posts div.date{
    display: flex;
    margin: 15px 0;
}

div.recent-posts div.date p{
    margin: 0 10px;
}

div.featured-works{
    padding: 40px 0;
    font-family: Heebo, sans-serif;
}

div.featured-works div.info{
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 40px;
}

div.featured-works div.work{
    display: flex;
    justify-content: left;
}

div.featured-works img{
    margin-right: 15px;
}

div.featured-works h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
}

div.featured-works div.date{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
}

div.featured-works div.date p.year{
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    background: black;
    border-radius: 20px;
    margin-right: 10px;
}

div.featured-works div.date p.title{
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    color: rgba(134, 149, 164, 1);
}

div.featured-works p.description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

div.featured-works hr{
    margin: 20px 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

footer div.images{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}