*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    width: 1200px;
    margin: 0 auto;
}

button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

header div.container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

header div.container button{
    background-color: #fff;
    border: 1px solid black;
}

div.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

form p{
    margin-bottom: 10px;
}

form input, form textarea{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form textarea{
    height: 100px;
}

form button{
    width: 100%;
    border: 1px solid black;
    background-color: #fff;
    font-weight: 700;
}

hr{
    margin-bottom: 20px;
}
