@font-face {
    src: url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
    font-family: Heebo, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

header{
    height: 80px;
}

header div.container{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav{
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

div.container{
    width: 1000px;
    margin: 0 auto;
}

div.personal-info div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.personal-info h1{
    font-family: Heebo, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}

div.personal-info p{
    font-family: Heebo, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 40px 0;
}

div.personal-info button{
    font-family: Heebo, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    background: rgba(255, 100, 100, 1);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

div.personal-info div.info{
    width: 60%;
}

div.recent-posts{
    background: rgba(237, 247, 250, 1);
    padding: 20px 0;
    margin-top: 60px;
}

div.recent-posts div.info{
    display: flex;
    justify-content: space-between;
    font-family: Heebo, sans-serif;
    font-weight: 400;
}

div.recent-posts div.posts{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Heebo, sans-serif;
}

div.recent-posts div.post{
    background: white;
    padding: 20px;
    width: 48%;
}

div.recent-posts div.post h3{
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
}

div.recent-posts div.post div.date{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    margin: 20px 0;
}

div.recent-posts div.post div.date p{
    margin-right: 20px;
}

div.recent-posts div.post p.description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}