*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

a.active{
    color: black;
}

.sb{
    display: flex;
    justify-content: space-between;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
}

div.container{
    width: 1200px;
    margin: 0 auto;
}

div.logo{
    background-color: #1ABE84;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

div.logo div.orange{
    background-color: #FB8F1D;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid white;
}

nav{
    width: 55%;
    align-items: center;
}

nav a{
    color: gray;
}

nav a.login{
    padding: 10px 30px;
    color: #FB8F1D;
    border: 2px solid #FB8F1D;
    border-radius: 10px;
    transition: 200ms;
}

nav a.login:hover{
    color: white;
    background-color: #FB8F1D;
}

nav a.register{
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    transition: 200ms;
    background-color: #FB8F1D;
    border: 2px solid #FB8F1D;
}

nav a.register:hover{
    border: 2px solid #FB8F1D;
    color: #FB8F1D;
    background-color: white;
}

div.explore-travel{
    margin: 50px 0;
}

div.explore-travel div.info{
    width: 48%;
}

div.explore-travel div.info h1{
    font-size: 80px;
    margin-bottom: 40px;
}

div.explore-travel div.info div.line{
    border: 1px solid black;
    width: 40px;
    border-radius: 10px;
    margin: 20px 0;
}

div.explore-travel div.info form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 30px;
}

div.explore-travel div.info form select{
    width: 47%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

div.explore-travel div.info form button{
    width: 47%;
    padding: 10px;
    background-color: #FB8F1D;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

div.explore-travel div.image{
    width: 48%;
}

div.explore-travel div.image img{
    width: 100%;
}

div.new-way{
    align-items: center;
    margin: 40px 0;
}

div.new-way div.image{
    width: 47%;
}

div.new-way div.image img{
    width: 100%;
}

div.new-way div.info{
    width: 47%;
}

div.new-way div.info h2{
    font-size: 50px;
}

div.new-way div.info p{
    color: gray;
    margin: 30px 0;
}

div.new-way div.info button{
    width: 30%;
    padding: 10px;
    background-color: #FB8F1D;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
